.card {
  /* height: 440px; */
  width: 270px;
  background-color: #29241E;
}

.card__subtitle {
  color: #8D8D8D;
}

.card__select__volume {
  display: inline-block;
}

.card__select__volume__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.card__radio {
  display: inline-block;
  border-radius: 4px;
  padding: 7px 18px 7px 10px;
  color: #8D8D8D;
  border: 1px solid #8D8D8D;
}

.card__select__volume__input:checked + .card__radio {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
