@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.main-container {
  max-width: 1360px;
}

.content-container {
  max-width: 1170px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
