$card-bg: #29241E;
$main-text-color: #FFFFFF;
$secondary-text-color: #8D8D8D;


.card{
   /* height: 440px; */
  width: 270px;
  background-color: $card-bg;
  padding-bottom: 12px;
  position: relative;

  &__title__wrap{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 41px;
  }
  &__title{
    font-size: 18px;
    line-height: 21px;
    margin: 1px 0px;
  }
  &__subtitle{
    color: $secondary-text-color;
    font-size: 13px;
    line-height: 15px;
    margin: 0px;
  }

  &__form{
    margin: 16px 20px 0 20px;
  }

  &__select__volume{
    display: inline-block;
    cursor: pointer;

    &__input{
      position: absolute;
      appearance: none;
    }
  }
  &__radio{
    display: inline-block;
    border-radius: 4px;
    padding: 7px 18px 7px 10px;
    color: $secondary-text-color;
    border: 1px solid $secondary-text-color;
    font-size: 11px;
    line-height: 13px;

    strong{
      font-size: 13px;
      line-height: 15px;
    }
  }
}

.card__action__sticker{
  position: absolute;
  top: 0;
  left: 28px;
}


.card:hover .card__description{
  opacity: 1;
}

.card__select__volume__input:checked + .card__radio{
  
  border: 1px solid $main-text-color;
  color: $main-text-color;
  
}

.card__button{
  width: 64px;
  height: 44px;
  border-radius: 4px;

  &__wrap{
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_like{
    background: #4F4134 url(../img/icons/Heart.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }
  &_buy{
    background: #F5EBCF url(../img/icons/cart-add.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }
}



.card__description{
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s;

  &__title{
    margin: 0;
    padding-bottom: 52px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    color: #F1B91B;
  }
  &__list{
    padding: 0;
    margin: 0;
    padding-left: 42px;
  }
  &__item{
    padding-bottom: 12px;
    list-style: none;
    font-size: 13px;
    line-height: 15px;
    color: #F5EBCF;

    strong{
      color: #8D8D8D;
    }
  }
}

.raiting{
  position: absolute;
  right: 29px;
  top: 16px;
  width: 20px;
  text-align: center;
  
  &__star{
    width: 100%;
    height: 20px;
    background-image: url(../img/icons/Star.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }
  &__num{
    font-size: 12px;
    line-height: 14px;
  }
}

.bottles__number{
  text-align: center;

  &__btn{
    width: 14px;
    height: 14px;
    margin: 10px;

    &_minus{
      background: url(../img/icons/minus.svg);
      background-position: center;
      background-repeat: no-repeat;
      &:disabled{
        opacity: 0.2;
      }
    }
    &_plus{
      background: url(../img/icons/plus.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &__inp{
    background-color: transparent;
    border: none;
    padding: 0;
    width: 28px;
    height: 28px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}